@keyframes hue-rotate {
    0% {filter: hue-rotate(0deg);}
    100% {filter: hue-rotate(360deg);}
}

/*********** Misc code **********************/


body {font-family: 'Montserrat', sans-serif; background-color:#000;}
.container-fluid {padding:0;}
.row {margin:0;}
.no-pad {padding: 0;}
.navbar {background: #000 !important; box-shadow: 0px -10px 20px -2px #4158d0, 0px 0px 20px -2px #c850c0, 0 -3px 20px 2px #ffcc70; animation: hue-rotate 2.5s linear infinite both; z-index: 999;}
.navbar .navbar-brand {font-size:2rem; font-family:'abril fatface',cursive; letter-spacing: 0.1rem;float: left; margin-left: 1rem; color: #ff7800;}
.theme-color {background: linear-gradient(225deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%,); background-size: 200% auto; background-clip: text;
    -webkit-background-clip: text; background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; animation: hue-rotate 2.5s linear infinite both;}
.navbar .navbar-nav {margin-left:2rem;}
.navbar .navbar-nav li a:hover {background: linear-gradient(225deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%,); background-size: 200% auto; background-clip: text;
    -webkit-background-clip: text; background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}    

/******* about frame ********************/
#about {padding: 0rem 0 3.5rem 3.5rem; height: auto; overflow: auto; background-color: #000; display: flex; flex-wrap: wrap; align-content: center; justify-content: center; align-items: center;}
#about p {font-size: 1.1rem; color: #ddd; margin-top:5rem;
    span {border-bottom: 1px solid #ddd;}
}
#about h1 {font-size: 4.2rem; color: #fff; font-family: 'abril fatface',cursive; margin-bottom: 1rem;}
#about p:last-child {margin-top: 1rem; color: #888;}

/********** skills frame *****************/
#skills {padding: 2rem; background-color: #F4D03F; background-image: linear-gradient(0deg, #222 0%, #000000 100%); color: #fff; box-shadow: 0 1px 0px 1px #f4d03f; animation: hue-rotate 2.5s linear infinite both;}
#skills:after {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.76);}
#skills h2 {text-align: center; font-size: 4rem; font-family:'abril fatface',cursive;}
#skills .card {border:none; margin-top:2rem; text-align:center; background:transparent;}
#skills .card .card-title {font-weight: 600; color: #fff;}
#skills .card .card-title span {border-bottom: 1px solid #fff;}
#skills .card-img-top {width:35%; margin:0 auto;}

/************** work frame *********************/
#work {width:90%; margin:5rem auto;}
#work h2 {text-align: center; font-size: 4rem; font-family:'abril fatface',cursive; margin-bottom:3rem;}
#work > p {color:#ddd;}
#work .row {padding:2rem 0;}
#work .row .card {border:none; background-color:transparent; margin-bottom: 2rem; width: 95%; border: 1px solid #000; padding: 0.5rem; transition: linear 500ms; border-radius: 0;}
#work .row .card:hover {border: 1px solid #222; transition: linear 500ms; background-color: rgba(34, 34, 34, 0.192);}
#work .row .card .card-body {padding: 1rem 0 0.5rem 0;}
#work .row .card a {text-decoration: none; transition: linear 0.5s;}
#work .row .card h3 {font-family:'abril fatface',cursive;}
#work .row .card p {color:#aaa;}

/************* contact frame ********************/
#contact {background-image: url('../img/contact-banner.jpg'); padding: 1rem 2rem; background-size:cover; background-repeat: no-repeat; text-align: center; box-shadow: 0px 1px 8px -2px #4158d0, 0px 2px 10px -2px #c850c0, 0 2px 15px 2px #ffcc70; animation: hue-rotate 2.5s linear infinite both; display: flex; flex-wrap: wrap; align-content: center; align-items: baseline; flex-direction: row; justify-content: space-evenly;}
#contact h2 {text-align:center; color:#fff; font-family: 'abril fatface',cursive; font-size:2rem;}
#contact h2 span {border-bottom: 2px solid;}
#contact > p {font-size:1.3rem; color:#fff; font-family:'abril fatface',cursive; margin: 1rem 0;}
#contact span {font-family: 'Montserrat', sans-serif;}
#contact ul {list-style: none; padding:0; margin: 0;}
#contact ul li {display:inline-flex; margin-right:1rem;}
#contact ul li img {width:2rem;}

/***************** media queries **************/
@media only screen and (max-width:549px){
    .navbar .navbar-nav {margin: 0;}
    .navbar .navbar-nav li {text-align: center;}
    #about {padding: 0;}
    #about .about-body {padding: 1rem;}
    #about p {margin: 1.5rem 0;}
    #about h1 {font-size: 2.75rem;}
    #about img {width: 70%; margin: 0rem 0px 2rem 30%;}
    #skills h2 {font-size: 3rem;}
    #skills .card-img-top {width: 20%;}
    #work {width: 95%; margin: 1.5rem auto;}
    #work h2 {font-size: 3rem; margin-bottom: 1rem;}
    #work .card {width: 100%;}
    #work .card-body {padding: 1.25rem 0; text-align: center;}
    #work .row .card h3 {font-family: 'abril fatface',cursive; font-size: 1.5rem;}
    #contact {padding: 2rem;}
    #contact h2 {font-size: 2rem;}
    #contact > p {font-size: 1.25rem; margin: 0;}
    #contact > img {width: 25%; margin: 1rem 0;}
    #work .row {padding: 1rem 0;}
}
@media only screen and (min-width:550px) and (max-width:768px){
    #about .about-body {padding: 1rem;}
    #about p {margin-top: 0rem;}
    #about h1 {font-size: 2rem;}
    #skills h2 {font-size: 3rem;}
    #skills .card-body {padding: 0.8rem;}
    #work {width: 95%; margin: 1.5rem auto;}
    #work .card {width: 100%;}
    #work h2 {font-size: 3rem; margin-bottom: 2rem;}
    #contact {padding: 2rem;}
    #contact > img {width: 25%; margin:1rem 0;}
    #contact > p {font-size: 1.5rem;}
}
@media only screen and (min-width:769px) and (max-width:991px){
    #about .about-body {padding: 1rem;}
    #about p {margin-top: 0rem;}
    #about h1 {font-size: 2.5rem;}
    #about img {width: 90%;}
    #skills h2 {font-size: 3rem;}
    #work {width: 80%; margin: 2rem auto;}
    #work h2 {font-size: 3rem;margin-bottom: 2rem;}
    #contact > img {width: 20%; margin: 1rem;}
}
@media only screen and (min-width:992px) and (max-width:1200px){
    #about p {margin-top: 0rem;}
    #about h1 {font-size: 3.2rem;}
    #about img {width: 90%;}
    #work {width: 80%;}
}